body,div{
    margin:0;
    padding: 0;
    background-color: #282828;
    font-family:"微软雅黑";
    font-family: "Microsoft YaHei" ! important;
    color: #765b20;
}
.fl-full{
    float: left;
    width: 100%;
}
.top{
    height: 416px;
    overflow: hidden;
}
.top img{
    position: absolute;
    width: 100%;
    height: 416px;
}
.top img:first-child{
    z-index: 66;
}
.top img:nth-child(2){
    z-index: 88;
    height: 166px;
    top: 250px;
}
.top .top-sign{
    position: absolute;
    z-index:68;
    height: 416px;
    width: 216px;
    left: 88px;
    top: 0;
    background-color: rgba(0,0,0,.5);
}
.top .top-sign img{
    float: left;
    width: 106px;
    height: 288px;
    margin-left: 55px;
    margin-top: 15px;
}
.sign{
    float: left;
    width: 100%;
    text-align: center;
}
.sign img{
    height: 36px;
}
.main{
    position: absolute;
    top: 488px;
    left: 50%;
    margin-left: -444px;
    width: 888px;
}
.main-mian-img{
    width: 213px;
    margin-left: 8px;
    margin-bottom: 8px;
    height: 213px;
    font-size: 28px;
    font-weight: 700;
}
.main-mian-img:first-child,.main-mian-img:last-child{
    width: 446px;
}
.main-mian-img:first-child,.main-mian-img:nth-child(4){
    margin-left: 0;
}
.main-mian-img:nth-child(1){
    background: url("../img/top1.jpg") no-repeat;
    background-size: 100% 100%;
}
.main-mian-img:nth-child(1) span{
    line-height: 213px;
    text-align: center;
}
.main-mian-img:nth-child(2)
{
    background: url("../img/top2.jpg") no-repeat;
    background-size: 100% 100%;
}
.main-mian-img:nth-child(2) span{
    font-size: 28px;
    margin-top: 66px;
    text-align: center;
}
.main-mian-img:nth-child(3)
{
    background: url("../img/top3.jpg") no-repeat;
    background-size: 100% 100%;
}
.main-mian-img:nth-child(3) span{
    font-size: 22px;
    line-height: 213px;
    text-align: center;
}
.main-mian-img:nth-child(4)
{
    background: url("../img/top4.jpg") no-repeat;
    background-size: 100% 100%;
}
.main-mian-img:nth-child(4) span{
    font-size: 22px;
    line-height: 246px;
    text-align: center;
}
.main-mian-img:nth-child(5)
{
    background: url("../img/top5.jpg") no-repeat;
    background-size: 100% 100%;
}
.main-mian-img:nth-child(5) span{
    font-size: 22px;
    line-height:388px;
    text-align: center;
}
.main-mian-img:nth-child(6)
{
    background: url("../img/top6.jpg") no-repeat;
    background-size: 100% 100%;
}
.main-mian-img:nth-child(6) span{
    line-height: 66px;
    text-align: right;
    width: 96%;
}
.main-one{
    border-bottom: #bfbfbf solid 2px;
}
.main-one .h-title,.main-one .s-title{
    text-align: center;
    color: #cecece;
}
.main-one .h-title{
    font-size: 26px;
    margin-top: 4.6em;
}
.main-one .s-title{
    font-size: 18px;
    margin-bottom: 2em;
}
.main-one:nth-child(odd) .main-page-img{
    float: left;
}
.main-one:nth-child(even) .main-page-img{
    float: right;
}
.main-one .main-page-img{
    width: 48%;
    height: 336px;
    text-align: center;
    overflow: hidden;
}
.main-one .main-page-img img{
    height: 336px;
    width: auto;
}
.main-one:nth-child(even) .main-page-p{
    float: left;
    margin-right: 4%;
    padding-left: 2%;
}
.main-one:nth-child(odd) .main-page-p{
    float: right;
    margin-left: 4%;
    padding-right: 2%;
}
.main-one .main-page-p{
    width: 46%;
    text-indent:2em;
    line-height: 28px;
}
.main-one:nth-child(1) .main-page-p{
     padding-top: 4em;
 }
.main-one:nth-child(2) .main-page-p{
    padding-top: 5em;
}
.main-one:nth-child(3) .main-page-p{
    padding-top: 5em;
}
.main-one:nth-child(4) .main-page-p{
    padding-top: 3em;
}
.main-one:nth-child(5) .main-page-p{
    padding-top: 5em;
}
.main-one:nth-child(6) .main-page-p{
    padding-top: 4em;
}
.main-seven-img-a,.main-seven-img-b{
    text-align: center;
    height: 266px;
}
.main-seven-img-a img{
    height: 266px;
}
.main-seven-img-b img{
    height: 218px;
}
.join-in,.sign2017{
    float: left;
    width: 36%;
    padding-top: 9.9em;
}
.join-in{
    padding-left: 14%;
}
.join-in .join-in-title{
    font-size: 28px;
    color: #cecece;
}
.join-in p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 18px;
    line-height: 22px;
}
.sign2017{
    padding-right: 14%;
    text-align: right;
}
.sign2017 img{
    height: 88px;
}
.footer{
    background-color: #8f7f70;
    color: #282828;
    padding: 2.6em 0 1.6em 0;
    margin-top: 6em;
}
.footer .footer-top,.footer .footer-bottom{
    float: left;
    text-align: center;
}
.footer .footer-top{
    width: 96%;
    margin-left: 2%;
    font-size: 18px;
    border-bottom: #fff solid 2px;
}
.footer .footer-top a{
    color: #282828;
}
.footer .footer-bottom{
    width: 100%;
    font-size: 14px;
}