<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.Owner_BuildingMapper">
	<select id="pageOwner_Building" resultType="com.model.Owner_Building">
		SELECT
		Owner_building_id,Owner_building_type,Owner_building_name,Owner_building_number,Owner_building_mi,Owner_building_price,Owner_building_linkman,Owner_building_phone,Owner_building_time
		FROM Owner_building
	</select>
	<!-- 条件查询 -->
	<select id="pageConditionOwner_Building" parameterType="com.model.pojo.PagePojo" resultType="com.model.Owner_Building">
		SELECT
		Owner_building_id,Owner_building_type,Owner_building_name,Owner_building_number,Owner_building_mi,Owner_building_price,Owner_building_linkman,Owner_building_phone,Owner_building_time
		FROM Owner_building
		WHERE 1=1
		<if test='name != ""'>
			AND Owner_building_name like '%${name}%'
		</if>
		<if test='type != ""'>
			AND Owner_building_type=#{type}
		</if>
		<if test='beginTime != ""'>
			<![CDATA[AND Owner_building_time>#{beginTime}]]>
		</if>
		<if test='endTime != ""'>
			<![CDATA[AND Owner_building_time<#{endTime} ]]>
		</if>
	</select>
	
	<select id="findOne" parameterType="java.lang.Integer"   resultType="com.model.Owner_Building">
		SELECT
		Owner_building_id,Owner_building_type,Owner_building_name,Owner_building_number,Owner_building_mi,Owner_building_price,Owner_building_linkman,Owner_building_phone,Owner_building_time
		FROM Owner_building
		 where Owner_building_id = #{id}
	</select>
	
	 <select id="queryByHot"  resultType="java.util.HashMap">
	    SELECT h.house_id,h.house_money,b.building_name ,h.house_num,b.building_addr,b.building_floor,b.building_level FROM house h  JOIN  building b WHERE h.building_id=b.building_id AND h.house_state='已上线';
	 </select>
	 
	 <insert id="save" parameterType="com.model.Owner_Building">
	 
	    INSERT INTO  Owner_building (
		Owner_building_type,
		Owner_building_name,
		Owner_building_number,
		Owner_building_mi,
		Owner_building_price,
		Owner_building_linkman,
		Owner_building_phone,
		Owner_building_state,
		Owner_building_time
		
		)
		VALUES
		  (
		    #{owner_building_type},
		    #{owner_building_name},
		    #{owner_building_number},
		    #{owner_building_mi},
		    #{owner_building_price},
		    #{owner_building_linkman},
		    #{owner_building_phone},
		    #{owner_building_state},
		    #{owner_building_time}
		  )
	 
	 </insert>
	 
</mapper>